@media screen and (max-width: 299px) {
    .max-width {
        max-width: 120px;
    }
    
  }
  
  @media screen and (min-width: 300px) and (max-width: 799px) {
    .max-width {
        max-width: 150px;
    }

    
  }
  
  @media screen and (min-width: 800px) {
    
    .max-width {
        max-width: 150px;
    }

    
  }

  .navbar-color {
    background-color: rgb(233, 233, 233);
  }

  .sidebar {
    height: 100vh !important;
}
